.description {
  position: relative;
  color: black;
  font-size: 3vw;
  text-transform: uppercase;
  margin-top: 30vw;
  margin-left: 10vw;
  z-index: 3;
  height: 100vh;
  div {
    position: absolute;
    top: -250px;
  }
}
